

main .grid-p {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
main .grid-p div {
  border: 1px solid black;
  /* width: 30px;
  height: 30px; */
  padding: 70px;
}
.row1:nth-child(even) {
  background-color: black;
}
.row1:nth-child(odd) {
  background-color: white;
}
.row2:nth-child(odd) {
  background-color: black;
}
.row2:nth-child(even) {
  background-color: white;
}


